#startScreen{
    position:fixed;
    width:100%;
    height:100vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;

    background:black;
    color:white;

    z-index:99999;
}

#startScreen h1{
    font-size:3rem;
    margin-bottom:20px;
}

#startScreen p{
    margin-bottom:30px;
    line-height:1.8;
}

#startScreen button{

    padding:15px 35px;

    border:none;
    border-radius:50px;

    font-size:18px;

    cursor:pointer;

    background:#ff69b4;
    color:white;
}
